{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />

    <link rel="apple-touch-icon" sizes="180x180" href="{% static
    'images/apple-touch-icon.png"' %}">
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'images/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'images/favicon-16x16.png' %}"
    />
    <link rel="manifest" href="{% static 'images/site.webmanifest' %}" />

    <!-- bootstrap  -->
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />

    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />

    <!-- custom stylesheet -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@300;400;500;900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'css/chatroom.css' %}">

    {% block pgcss %} {% endblock pgcss %}

    <title> {% block title %} {% endblock title %} GTD Bank</title>
  </head>

  <body>
    <div>
      {% comment %} <div>
        <!--Navbar-->
        <nav
          class="navbar navbar-expand-lg navbar-light bg-light"
          id="navbar_top"
        >
          <a class="navbar-brand" id="link1" href="/">
            <img
              src="{{imagepath}}"
              id="logoimage"
              alt="webapp logo"
              style="width: 85px; height: 40px"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#nXYZ"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="XYZ">
            <div class="navbar-nav ml-auto"> {% endcomment %}
              <!-- {% if user.is_authenticated %} {% comment %} -->
              <!-- <a href="/"><h5 class="pt-2">Hello, {{ user.first_name }}</h5></a> -->
              <!-- {% endcomment %} -->
              {% comment %} <div id="box">
                <a
                  class="nav-item nav-link"
                  role="button"
                  href="logout"
                  id="link"
                  >Logout</a
                >
              </div>

              <div id="box">
                <a
                  class="nav-item nav-link"
                  id="link"
                  href="#"
                  role="button"
                  >My Profile</a
                >
              </div>
              </div> {% endcomment %}

              <!-- {% endif %} -->
            {% comment %} </div>
          </div>
        </nav>
      </div> {% endcomment %}
     
        <div id="sidenav-div">
            <a class="btn" id="sidenav-link" href="{% url 'profile' %}">My Profile</a>
            <a class="btn" id="sidenav-link" href="{% url 'profile-transactions' %}">Account Activity</a>
            <a class="btn" id="sidenav-link" href="#">Statement</a>
            <hr/>
            <p id="sidenav-title">Pay and Transfer</p>
            <hr/>
            <a class="btn" id="sidenav-link" href="{% url 'transfermoney' %}">Transfer Money</a>
            <!-- <a class="btn" id="sidenav-link" href="#">UPI</a> -->
            <hr/>
            <p id="sidenav-title">Services</p> 
            <hr/>
            <a class="btn" id="sidenav-link" href="#">Cards</a>
            <a class="btn" id="sidenav-link" href="{% url 'loan' %}">Loans</a>
            <a class="btn" id="sidenav-link" href="#">Policies</a>
            <a class="btn" id="sidenav-link" href="#">Insurance</a>
            {% if user.is_authenticated %}
              <a class="btn" id="sidenav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
              <a class="btn" id="sidenav-link" href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
      </div>
      <div>
        <h1>{% block pagetitle %}{% endblock pagetitle %}</h1>
      </div>
      
    {% block content %} {% endblock content %}
    {% comment %} <div>
        <footer id="footer">
          <div id="footTextDiv"><p id="footText">&copy; GTD Bank-2021</p></div>
        </footer>
      </div> {% endcomment %}
    <!-- JavaScript Bundle with Popper -->
    <div id="chat-container"></div>

  <!-- <script src="https://drive.google.com/uc?id=1QslZLwqbJl471otp1Ph1y8MLHSzKqCPl"></script> -->
  <script src="{% static 'js/chatroom.js' %}"></script>

  <script>
    createChatBot(
      (host = "http://localhost:5005/webhooks/rest/webhook/"),
      (botLogo = "../static/images/bot-logo.png"),
      (title = "Bank BOT "),
      (welcomeMessage = "Hey, i am Bank Bot "),
      (inactiveMsg =
        "Lunch ke baad aana"),
      (theme = "purple"),
      (docViewer=true)
    );
  </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {% block pgjs %} {% endblock pgjs %}
  </body>
</html>
