{% extends 'base.html' %} {% load static %} {% block content %} {% block title
%} Insurance | {% endblock title %} {% block pgcss %}
<link rel="stylesheet" href="{% static 'css/insurance.css' %}" />
{% endblock pgcss %} {% block pagetitle %}Policies{% endblock pagetitle %}

<div id="main">
  <div class="row">
    <div id="card-container" class="col-md-4 col-xs-12">
      <div class="card" id="ins-card">
        <div id="cardimg" class="card-img-top">
          <span
            class="iconify"
            data-icon="bx:bxs-car"
            style="color: #8d448b"
            data-width="60"
            data-height="60"
          ></span>
        </div>
        <div class="card-title">
          <h6>Policy</h6>
        </div>
        <div class="card-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio,
            dolorum voluptates itaque aspernatur fuga sed tempora dolor, alias
            nisi, molestias numquam. Adipisci inventore sapiente sit dicta, cum
            architecto? Nesciunt, illum!
          </p>
        </div>
        <button id="button" class="btn" role="button" type="button">
          Click Me
        </button>
      </div>
    </div>
    <div id="card-container" class="col-md-4 col-xs-12">
      <div class="card" id="ins-card">
        <div id="cardimg" class="card-img-top">
          <span
            class="iconify"
            data-icon="healthicons:health"
            style="color: #ef0"
            data-width="60"
            data-height="60"
          ></span>
        </div>
        <div class="card-title">
          <h6>Policy</h6>
        </div>
        <div class="card-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio,
            dolorum voluptates itaque aspernatur fuga sed tempora dolor, alias
            nisi, molestias numquam. Adipisci inventore sapiente sit dicta, cum
            architecto? Nesciunt, illum!
          </p>
        </div>
        <button id="button" class="btn" role="button" type="button">
          Click Me
        </button>
      </div>
    </div>
    <div id="card-container" class="col-md-4 col-xs-12">
      <div class="card" id="ins-card">
        <div id="cardimg" class="card-img-top">
          <span
            class="iconify"
            data-icon="carbon:airline-passenger-care"
            style="color: #e44"
            data-width="60"
            data-height="60"
          ></span>
        </div>
        <div class="card-title">
          <h6>Policy</h6>
        </div>
        <div class="card-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio,
            dolorum voluptates itaque aspernatur fuga sed tempora dolor, alias
            nisi, molestias numquam. Adipisci inventore sapiente sit dicta, cum
            architecto? Nesciunt, illum!
          </p>
        </div>
        <button id="button" class="btn" role="button" type="button">
          Click Me
        </button>
      </div>
    </div>
    <div id="card-container" class="col-md-4 col-xs-12">
      <div class="card" id="ins-card">
        <div id="cardimg" class="card-img-top">
          <span
            class="iconify"
            data-icon="ant-design:stock-outlined"
            style="color: #974"
            data-width="60"
            data-height="60"
          ></span>
        </div>
        <div class="card-title">
          <h6>Policy</h6>
        </div>
        <div class="card-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio,
            dolorum voluptates itaque aspernatur fuga sed tempora dolor, alias
            nisi, molestias numquam. Adipisci inventore sapiente sit dicta, cum
            architecto? Nesciunt, illum!
          </p>
        </div>
        <button id="button" class="btn" role="button" type="button">
          Click Me
        </button>
      </div>
    </div>
    <div id="card-container" class="col-md-4 col-xs-12">
      <div class="card" id="ins-card">
        <div id="cardimg" class="card-img-top">
          <span
            class="iconify"
            data-icon="fa-solid:warehouse"
            style="color: #13a"
            data-width="60"
            data-height="60"
          ></span>
        </div>
        <div class="card-title">
          <h6>Policy</h6>
        </div>
        <div class="card-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio,
            dolorum voluptates itaque aspernatur fuga sed tempora dolor, alias
            nisi, molestias numquam. Adipisci inventore sapiente sit dicta, cum
            architecto? Nesciunt, illum!
          </p>
        </div>
        <button id="button" class="btn" role="button" type="button">
          Click Me
        </button>
      </div>
    </div>
    <div id="card-container" class="col-md-4 col-xs-12">
      <div class="card" id="ins-card">
        <div id="cardimg" class="card-img-top">
          <span
            class="iconify"
            data-icon="cil:education"
            style="color: #ffa39a"
            data-width="60"
            data-height="60"
          ></span>
        </div>
        <div class="card-title">
          <h6>Policy</h6>
        </div>
        <div class="card-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio,
            dolorum voluptates itaque aspernatur fuga sed tempora dolor, alias
            nisi, molestias numquam. Adipisci inventore sapiente sit dicta, cum
            architecto? Nesciunt, illum!
          </p>
        </div>
        <button id="button" class="btn" role="button" type="button">
          Click Me
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
