{% extends 'base.html' %} {% load static %} {% block content %} 
{% block title %} Insurance | {% endblock title %} {% block pgcss %}
<link rel="stylesheet" href="{% static 'css/insurance.css' %}" />
{% endblock pgcss %} {% block pagetitle %}Insurance{% endblock pagetitle %}

<div id="main">
  <div class="row">
    <div id="card-container" class="col-md-4 col-xs-12">
      <div class="card" id="ins-card">
        <div id="cardimg" class="card-img-top">
          <span
            class="iconify"
            data-icon="bx:bxs-car"
            style="color: #aac80a"
            data-width="60"
            data-height="60"
          ></span>
        </div>
        <div class="card-title">
          <h6>Motor</h6>
        </div>
        <div class="card-text">
          <p>
            Motor insurance covers vehicles against theft, man-made or natural calamities, damage from accidents, etc. Many policies also provide cover against damage done to your vehicle by a third party. Such motor insurance policies include two-wheelers, four-wheelers, commercial vehicles, etc.
          </p>
        </div>
      </div>
    </div>
    <div id="card-container" class="col-md-4 col-xs-12">
      <div class="card" id="ins-card">
        <div id="cardimg" class="card-img-top">
          <span
            class="iconify"
            data-icon="healthicons:health"
            style="color: #e49"
            data-width="60"
            data-height="60"
          ></span>
        </div>
        <div class="card-title">
          <h6>Healthcare</h6>
        </div>
        <div class="card-text">
          <p>
            Health insurance may sound similar to life insurance but this type of policies are bought to cover any costs of medical treatments and procedures. There are policies available for specific ailments but a general health insurance policy can be bought. They cover the cost of treatment, medication and hospitalization.
          </p>
        </div>
      </div>
    </div>
    <div id="card-container" class="col-md-4 col-xs-12">
      <div class="card" id="ins-card">
        <div id="cardimg" class="card-img-top">
          <span
            class="iconify"
            data-icon="carbon:airline-passenger-care"
            style="color: #e44"
            data-width="60"
            data-height="60"
          ></span>
        </div>
        <div class="card-title">
          <h6>Life</h6>
        </div>
        <div class="card-text">
          <p>
            Life insurance policy secures the future of your family and provides for them if something were to happen to you. This policy gives a maturity benefit if you survive the policy term to fulfil long term financial goals.
          </p>
        </div>
      </div>
    </div>
    <div id="card-container" class="col-md-4 col-xs-12">
      <div class="card" id="ins-card">
        <div id="cardimg" class="card-img-top">
          <span
            class="iconify"
           data-icon="ant-design:home-filled"
            style="color: #974"
            data-width="60"
            data-height="60"
          ></span>
        </div>
        <div class="card-title">
          <h6>Home</h6>
        </div>
        <div class="card-text">
          <p>
            Home insurance covers your home from any natural or man-made calamities, theft, fire and burglary. The policy not only covers your house but also the valuables and things inside the house.
          </p>
        </div>
      </div>
    </div>
    <div id="card-container" class="col-md-4 col-xs-12">
      <div class="card" id="ins-card">
        <div id="cardimg" class="card-img-top">
          <span class="iconify" data-icon="emojione:fire" data-width="60" data-height="60"></span>
        </div>
        <div class="card-title">
          <h6>Fire</h6>
        </div>
        <div class="card-text">
          <p>
           In this type of insurance, you are covered against damage caused to your property or valuables. Many natural calamities are also covered under fire insurance. But one should be cautious and enquire about what is not included in the policy.
          </p>
        </div>
      </div>
    </div>
    <div id="card-container" class="col-md-4 col-xs-12">
      <div class="card" id="ins-card">
        <div id="cardimg" class="card-img-top">
          <span
            class="iconify"
            data-icon="ic:outline-mode-of-travel"
            style="color: #e4d11b"
            data-width="60"
            data-height="60"
          ></span>
        </div>
        <div class="card-title">
          <h6>Travel</h6>
        </div>
        <div class="card-text">
          <p>
           In such insurances, any problems arising while travelling like loss of baggage,loss of passport, accidental death and many more are covered. You can buy travel insurance before planning a trip to secure yourself on a domestic or international vacation.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
