{% extends 'base.html' %} {% load static %} {% block content %} 
{% block title %} Loans | {% endblock title %} {% block pgcss %}
<link rel="stylesheet" href="{% static 'css/loan.css' %}" />
{% endblock pgcss %} {% block pagetitle %}Loans{% endblock pagetitle %}
<div>
  <div id="loan-card" class="row">
    <div class="col-md-4 col-xs-12" id="loan-card-content">
      <div class="row">
        <div class="col-xs-12">
          <h6 id="loan-title">Personal Loan</h6>
        </div>

        <div id="loan-text" class="col-xs-12">
          <p>
            Personal loans are provided to meet the personal needs of the borrower. You can use the money from this type of loan in any way you see fit. You can pay off your previous debts, buy some expensive accessories for yourself, and plan a great trip with your family. It’s up to you how to use the money. The interest rates for this type of loan are on the higher side compared to the other types of loans.
          </p>
        </div>
      </div>
    </div>
    <div id="loan-card-img" class="col-md-8 col-xs-12 row">
      <div id="loan-characteristics" class="col-md-6 col-xs-12">
        <span
          class="iconify"
          data-icon="mdi:brightness-percent"
          style="color: #0c0"
          data-width="50"
          data-height="50"
        ></span>
        <p>
          Low rate of interests, with greater return period. Easy to use cash and easy transfer of money into customer's account.
        </p>
      </div>
      <div id="loan-characteristics" class="col-md-6 col-xs-12">
        <span
          class="iconify"
          data-icon="entypo:location"
          style="color: #be2100"
          data-width="50"
          data-height="50"
        ></span>
        <p>
         Apply for a loan from any corner of the world. You just need your computer and apply for any kind of loan via the webapp, thus making the process easier.
        </p>
      </div>
      <div id="loan-characteristics" class="col-md-6 col-xs-12">
        <span
          class="iconify"
          data-icon="grommet-icons:user-manager"
          style="color: #ffc919"
          data-width="50"
          data-height="50"
        ></span>
        <p>
           No need to come to bank. Our executive will come at your house regarding everything. We offer personalized service to our customers because it is our duty that they receive the best treatment.
        </p>
      </div>
      <div id="loan-characteristics" class="col-md-6 col-xs-12">
        <span
          class="iconify"
          data-icon="clarity:rupee-solid"
          style="color: rgb(5, 78, 187)"
          data-width="50"
          data-height="50"
        ></span>
        <p>
          Easy money transfer into customer's account without any hassle. Easy EMI payment through any payment mode of your choice without any hassle of transaction fees. Maximum transfer limit in one time is 50,000 rupees.
        </p>
      </div>
    </div>
    <div
      class="modal fade"
      id="loan-modal-1"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Personal Loan</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
             Personal loans are provided to meet the personal needs of the borrower. You can use the money from this type of loan in any way you see fit. You can pay off your previous debts, buy some expensive accessories for yourself, and plan a great trip with your family. It’s up to you how to use the money. The interest rates for this type of loan are on the higher side compared to the other types of loans.
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12" id="loan-card-content">
      <button
        id="view-info-btn"
        class="btn"
        role="button"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#loan-modal-1"
      >
        View Info
      </button>
    </div>
  </div>
  <div id="loan-card" class="row">
    <div class="col-md-4 col-xs-12" id="loan-card-content">
      <div class="row">
        <div class="col-xs-12">
          <h6 id="loan-title">Home Loan</h6>
        </div>

        <div id="loan-text" class="col-xs-12">
          <p>
            Everybody dreams of owning their own house. However, buying a house needs a lot of money and it is not always possible to have that much money at once. Banks now offer home loans that can assist you in purchasing a property. A home loan can be of different types such as:

            Loan for constructing a house
            Loan for repairing and remodelling your existing home
            Loan for purchasing a land
          </p>
        </div>
      </div>
    </div>
    <div id="loan-card-img" class="col-md-8 col-xs-12 row">
      <div id="loan-characteristics" class="col-md-6 col-xs-12">
        <span
          class="iconify"
          data-icon="mdi:brightness-percent"
          style="color: #0c0"
          data-width="50"
          data-height="50"
        ></span>
        <p>
          Low rate of interests, with greater return period. Easy to use cash and easy transfer of money into customer's account.
        </p>
      </div>
      <div id="loan-characteristics" class="col-md-6 col-xs-12">
        <span
          class="iconify"
          data-icon="entypo:location"
          style="color: #be2100"
          data-width="50"
          data-height="50"
        ></span>
        <p>
         Apply for a loan from any corner of the world. You just need your computer and apply for any kind of loan via the webapp, thus making the process easier.
        </p>
      </div>
      <div id="loan-characteristics" class="col-md-6 col-xs-12">
        <span
          class="iconify"
          data-icon="grommet-icons:user-manager"
          style="color: #ffc919"
          data-width="50"
          data-height="50"
        ></span>
        <p>
           No need to come to bank. Our executive will come at your house regarding everything. We offer personalized service to our customers because it is our duty that they receive the best treatment.
        </p>
      </div>
      <div id="loan-characteristics" class="col-md-6 col-xs-12">
        <span
          class="iconify"
          data-icon="clarity:rupee-solid"
          style="color: rgb(5, 78, 187)"
          data-width="50"
          data-height="50"
        ></span>
        <p>
          Easy money transfer into customer's account without any hassle. Easy EMI payment through any payment mode of your choice without any hassle of transaction fees. Maximum transfer limit in one time is 50,000 rupees.
        </p>
      </div>
    </div>
    <div
      class="modal fade"
      id="loan-modal-2"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Home Loan</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Everybody dreams of owning their own house. However, buying a house needs a lot of money and it is not always possible to have that much money at once. Banks now offer home loans that can assist you in purchasing a property. A home loan can be of different types such as:

            Loan for constructing a house
Loan for repairing and remodelling your existing home
Loan for purchasing a land
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12" id="loan-card-content">
      <button
        id="view-info-btn"
        class="btn"
        role="button"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#loan-modal-2"
      >
        View Info
      </button>
    </div>
  </div>
  <div id="loan-card" class="row">
    <div class="col-md-4 col-xs-12" id="loan-card-content">
      <div class="row">
        <div class="col-xs-12">
          <h6 id="loan-title">Education Loan</h6>
        </div>

        <div id="loan-text" class="col-xs-12">
          <p>
            Banks also offer education loans to the ones who need it. These loans offer a better support in terms of study opportunities to students are financially weak. Students looking to pursue higher education can avail education loan from any bank in India. Once they secure a job, they need to repay the money from their payment.


          </p>
        </div>
      </div>
    </div>
    <div id="loan-card-img" class="col-md-8 col-xs-12 row">
<div id="loan-characteristics" class="col-md-6 col-xs-12">
        <span
          class="iconify"
          data-icon="mdi:brightness-percent"
          style="color: #0c0"
          data-width="50"
          data-height="50"
        ></span>
        <p>
          Low rate of interests, with greater return period. Easy to use cash and easy transfer of money into customer's account.
        </p>
      </div>
      <div id="loan-characteristics" class="col-md-6 col-xs-12">
        <span
          class="iconify"
          data-icon="entypo:location"
          style="color: #be2100"
          data-width="50"
          data-height="50"
        ></span>
        <p>
         Apply for a loan from any corner of the world. You just need your computer and apply for any kind of loan via the webapp, thus making the process easier.
        </p>
      </div>
      <div id="loan-characteristics" class="col-md-6 col-xs-12">
        <span
          class="iconify"
          data-icon="grommet-icons:user-manager"
          style="color: #ffc919"
          data-width="50"
          data-height="50"
        ></span>
        <p>
           No need to come to bank. Our executive will come at your house regarding everything. We offer personalized service to our customers because it is our duty that they receive the best treatment.
        </p>
      </div>
      <div id="loan-characteristics" class="col-md-6 col-xs-12">
        <span
          class="iconify"
          data-icon="clarity:rupee-solid"
          style="color: rgb(5, 78, 187)"
          data-width="50"
          data-height="50"
        ></span>
        <p>
          Easy money transfer into customer's account without any hassle. Easy EMI payment through any payment mode of your choice without any hassle of transaction fees. Maximum transfer limit in one time is 50,000 rupees.
        </p>
      </div>
    </div>
    <div
      class="modal fade"
      id="loan-modal-3"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Education Loan </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Banks also offer education loans to the ones who need it. These loans offer a better support in terms of study opportunities to students are financially weak. Students looking to pursue higher education can avail education loan from any bank in India. Once they secure a job, they need to repay the money from their payment.


          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12" id="loan-card-content">
      <button
        id="view-info-btn"
        class="btn"
        role="button"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#loan-modal-3"
      >
        View Info
      </button>
    </div>
  </div>
  <div id="loan-card" class="row">
    <div class="col-md-4 col-xs-12" id="loan-card-content">
      <div class="row">
        <div class="col-xs-12">
          <h6 id="loan-title">Vehicle Loan</h6>
        </div>

        <div id="loan-text" class="col-xs-12">
          <p>
            Vehicle loans help you fulfil your dream of owning a car or bike. Almost all banks provide this type of loan. It a secured loan means if the borrower doesn’t pay the instalments in time, the bank has the right to take back the vehicle.
          </p>
        </div>
      </div>
    </div>
    <div id="loan-card-img" class="col-md-8 col-xs-12 row">
      <div id="loan-characteristics" class="col-md-6 col-xs-12">
        <span
          class="iconify"
          data-icon="mdi:brightness-percent"
          style="color: #0c0"
          data-width="50"
          data-height="50"
        ></span>
        <p>
          Low rate of interests, with greater return period. Easy to use cash and easy transfer of money into customer's account.
        </p>
      </div>
      <div id="loan-characteristics" class="col-md-6 col-xs-12">
        <span
          class="iconify"
          data-icon="entypo:location"
          style="color: #be2100"
          data-width="50"
          data-height="50"
        ></span>
        <p>
         Apply for a loan from any corner of the world. You just need your computer and apply for any kind of loan via the webapp, thus making the process easier.
        </p>
      </div>
      <div id="loan-characteristics" class="col-md-6 col-xs-12">
        <span
          class="iconify"
          data-icon="grommet-icons:user-manager"
          style="color: #ffc919"
          data-width="50"
          data-height="50"
        ></span>
        <p>
           No need to come to bank. Our executive will come at your house regarding everything. We offer personalized service to our customers because it is our duty that they receive the best treatment.
        </p>
      </div>
      <div id="loan-characteristics" class="col-md-6 col-xs-12">
        <span
          class="iconify"
          data-icon="clarity:rupee-solid"
          style="color: rgb(5, 78, 187)"
          data-width="50"
          data-height="50"
        ></span>
        <p>
          Easy money transfer into customer's account without any hassle. Easy EMI payment through any payment mode of your choice without any hassle of transaction fees. Maximum transfer limit in one time is 50,000 rupees.
        </p>
      </div>
    </div>
    <div
      class="modal fade"
      id="loan-modal-4"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Vehicle Loan</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Vehicle loans help you fulfil your dream of owning a car or bike. Almost all banks provide this type of loan. It a secured loan means if the borrower doesn’t pay the instalments in time, the bank has the right to take back the vehicle.
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12" id="loan-card-content">
      <button
        id="view-info-btn"
        class="btn"
        role="button"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#loan-modal-4"
      >
        View Info
      </button>
    </div>
  </div>
</div>

{% endblock content %}
