{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
        />

        <!-- bootstrap  -->
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

        <!-- font-awesome -->
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous"
        />

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/site.webmanifest' %}">
        <!-- custom stylesheet -->
        <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" />

        <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@300;400;500;900&display=swap"
        rel="stylesheet"
        />
        
        <title> Login | GTD Bank </title>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </head>

    <body>
        
        {% for message in messages %}
            <div class="alert alert-danger" role="alert" style="">
                {{ message }}
            </div>
        {% endfor %}
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                        <h2 class="heading-section">Welcome!</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-5">
                        <div class="login-wrap p-4 p-md-5">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <i class="fas fa-user" style="color: #fff;"></i>
                    </div>

                    
                    <form action="" method="POST" class="login-form" id="login-form">
                        {% csrf_token %}
                        <div class="form-group mt-4">
                            <input type="text" class="form-control rounded-left" placeholder="Username" id="username" name="username">
                        </div>
                        <!-- 8-digit CRN -->
                        <div class="form-group mt-4">
                            <input type="password" class="form-control rounded-left" placeholder="CRN" id="crn" name="password">
                        </div>

                        <div class="form-group mt-4 d-flex justify-content-center">
                            <div class="g-recaptcha" data-sitekey="6LflYjAcAAAAAJqCugIBqNI2kOJib5DBdlHKvqeE"></div>
                        </div>
                        <a href="account_no" style="text-decoration: none;">
                            <h3 class="text-center mb-4 mt-4">Don't have CRN?</h3>
                        </a>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary rounded submit p-3 px-5" id="login-btn">Submit</button>
                        </div>
                    </form>
                </div>
                    </div>
                </div>
            </div>
            
        </section>
            
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="{% static 'js/validation.js' %}"></script>
        <script>
            {% if mssg %}
            alert("{{ mssg }}");
            {% endif %}
        </script>
    </body>
</html>

