{% extends 'base.html' %} {% load static %} {% block content %}
{% block title %} Profile | {% endblock title %} 
{% block pgcss %} 
<link rel="stylesheet" href="{% static 'css/profile.css' %}">        
{% endblock pgcss %}

{% block pagetitle %}Profile{% endblock pagetitle %}
<div class="emp-profile container d-flex justify-content-around align-content-center">
    <form method="post" class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>{{cust_profile.f_name}} {{cust_profile.l_name}}</h5>
                    <h6> GTD Bank Profile </h6>
                    <p class="proile-info">If you want to update your profile, kindly contact the bank</p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active disabled" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5">
                <div class="profile-img">
                    <img src={{ user_assets.file.url }} alt="photo" width="120" height="auto" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-7">
                                <label>Name</label>
                            </div>
                            <div class="col-md-5">
                                <p>{{cust_profile.f_name}} {{cust_profile.l_name}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <label>Username</label>
                            </div>
                            <div class="col-md-5">
                                <p>{{cust_profile}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <label>Email</label>
                            </div>
                            <div class="col-md-5">
                                <p>{{cust_profile.email}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <label>Contact</label>
                            </div>
                            <div class="col-md-5">
                                <p>{{cust_profile.phone}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-7">
                                <label>Aadhar no.</label>
                            </div>
                            <div class="col-md-5">
                                <p> {% if cust_profile.aadhar_no %} {{cust_profile.aadhar_no}} {% else %} NA {% endif %}  </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <label>PAN no.</label>
                            </div>
                            <div class="col-md-5">
                                <p>{{cust_profile.pan_no}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <label>Account no.</label>
                            </div>
                            <div class="col-md-5">
                                <p>{{account.acc_no}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <label>Account Balance.</label>
                            </div>
                            <div class="col-md-5">
                                <p>{{account.acc_bal}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <label>IFSC.</label>
                            </div>
                            <div class="col-md-5">
                                <p>8383738383</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </form>           
</div>
{% endblock content %} 